.productCards {
    display: block;
    text-align: left;
    /* align-items: left;
    justify-content: left; */
}

.card {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.card-inner {
    margin: 3px;
    /* padding: 3px; */
    border: 1px solid black;
}