<html>
  <head>
    <title>Sample App</title>
  </head>
  <body>
    <div id="root">
      <h4>Login existing user:</h4>
      <form name="login" action="#" id="form" onsubmit="return false;">
        <div>
          <span>Username: </span>
          <input name="username" type="text" />
        </div>
        <div>
          <span>Password: </span>
          <input name="password" type="text" />
        </div>
        <button class="form-submit">Register</button>
        <!-- <input class="form-submit" type="submit" /> -->
      </form>
      <a href="/">Back</a>
    </div>
  </body>
  <script type="module" src="static/index.js"></script>
</html>
