body {
    margin: 0px;
}

.header {
    display: flex;
    /* margin: 15px; */
    padding: 10px;
    /* width: 100%; */
    /* align-items: center; */
    /* justify-content: center; */
    background-color: rgb(214, 214, 214);
}

/* .header > div {
    margin: auto;
} */

.title {
    width: 33.33%;
}

.cart {
    width: 33.33%;
}

.user {
    display: flex;
    width: 33.33%;
}

.user > div {
    width: 50%;
}